%h3 There are many needs.  None greater than another.  Your actions change you.  
#map_canvas
%form{:class => "form", :onsubmit=>"return filterNeeds()"}
  %label{:class => "search-label", :for=>"filterText"} Filter Needs:
  %input{:class => "search", :type=>"text", :name=>"filterText", :id=>"filterText"}  
  %input{:class => "search-button", :type => 'submit', :value => 'Filter', :id => "filterButton"}

.needs-list
  - @needs.each do |need|
    .needs-list-item
      .needs-list-left
        %a.helped-button{:href => "/share_an_action/#{need.id}"} I Helped!
      .needs-list-center
        #{need.description}
      .needs-list-right
        #{Action.all(:conditions => {:need_id => need.id}).size } helped so far

%script{:type=>"text/javascript",:src=>"http://maps.google.com/maps/api/js?sensor=false"}
%script{:type=>"text/javascript",:src=>"http://code.google.com/apis/gears/gears_init.js"} 
%script{:type => "text/javascript",:src  => "/js/need_filter.js"}
%script{:type=> "text/javascript", :src => "/js/map.js"}  
:javascript
  marker = #{@needs.to_json}
