-if @page.succeeded?
  %p#sharing_succeeded Thank you for sharing. Knowing is half the battle. Now go fight the fight.
-if @page.has_errors?
  %p#sharing_failed Would you look at that! Your need needs a little work. Could you try again?
%form

  %ul
    %li#description
      -if @page.has_error?(:description)
        %span{:class => 'error'}
      %label{:for=>"description"}Description:
      %input{:type=>"text", :name=>"description"}
    %li
      %input{:type => 'submit', :value => 'Share Need'}