-if @page.has_errors?
  %p#sharing_failed Would you look at that! Your need needs a little work. Could you try again?
%form

  %ul
    %li#description
      -if @page.has_error?(:description)
        %span{:class => 'error'}
      %label{:for=>"description"}Description:
      %input{:type=>"text", :name=>"description", :maxlength=>"800"}
    %li
      %input{:type => 'submit', :value => 'Share Need'}
