%h2 
  :markdown
    There are many needs.  
    None greater than another  
    Your actions change you.  

%form{:onsubmit=>"return filterNeeds()"}
  %label{:for=>"filterText"} Filter Needs:
  %input{:type=>"text", :name=>"filterText", :id=>"filterText"}  
  %input{:type => 'submit', :value => 'filter', :id => "filterButton"}

%ul#needs
- @needs.each do |need|
  %li
    %a{:href => "/share_an_action/#{need.id}"} I Helped!
    #{need.description}

%script{:type => "text/javascript",:src  => "/js/need_filter.js"}