-# Use fake array until models are available

%form{:onsubmit=>"return filterNeeds()"}
  %label{:for=>"filterText"}Filter by Keyword:
  %input{:type=>"text", :name=>"filterText", :id=>"filterText", :onChange=>"filterNeeds()"}
  %input{:type => 'submit', :value => 'filter', :id => "filterButton"}

%ul#needs
- @needs = Need.find(:all)
- @needs.each do |need|
  %li= need.description

:javascript
  function filterNeeds(){
    if($("#filterText").val() != ""){ 
      $('li').filter("li:not(contains("+$("#filterText").val()+"))").css("display","none");
      $('li').filter("li:contains("+$("#filterText").val()+")").css("display","");
    }
    else{
      $('li').filter("li").css("display", "");
    }
    return false;
  }

  $("#filterText").keyup(function(){
    filterNeeds();
  });