%form{:onsubmit=>"return filterNeeds()"}
  %label{:for=>"filterText"}Filter by Keyword:

  %input{:type=>"text", :name=>"filterText", :id=>"filterText"}
  
  %input{:type => 'submit', :value => 'filter', :id => "filterButton"}

%ul#needs
- @needs.each do |need|
  %li= need.description

%script{:type => "text/javascript",:src  => "/js/need_filter.js"}