%html
  %head
    %title 401Change

#header
  %h1 Facilitating positive change in the world
#content
  #overview
    %h3 What Are Change Agents?
    %a{:href=>"/change_agents/are"} What else do they do?
  #actions
  %a{:href=>"/causes/add" } Share a Cause




