#overview
  %h3 What Are Change Agents?
  %p Change agents are people who are making
  the conscious decision to make the world
  a better place. You may be a change agent if:
  %ul
    %li You think the world is malleable
    %li You volunteer to take care of needs
    %li You love to spend time helping other people
  %a{:href=>"/change_agents/are"} What else do they do?




