#overview
  %h3 What Are Change Agents?
  %p Change agents are people who are making the conscious decision to make the world a better place. You may be a change agent if:
  %ul
    %li You think the world is malleable
    %li You volunteer to take care of needs
    %li You love to spend time helping other people
  %p
    :markdown
      Heard enough? [Become a change agent!](/change_agents/join)
  %p
  :markdown
      Need help? [Share a need](/share_a_need)
  %p
  :markdown
      Want to help? [Find a need](/find_a_need)

  %p
  :markdown
    Did you Help? [Share an action](/share_an_action)


