%html
  %head
    %title 401Change

#header
  %h1 Facilitating positive change in the world
#content
  #overview
    %h3 What Are Change Agents?

  #actions
  %a{:href=>"/causes/add" } Share a Cause



