%html
  %head
    %title 401Change
    %script{:type=>"text/javascript", :src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
%body
  #header
    %h1 Facilitating positive change in the world
  #wrapper
    #content
      =yield




