%html
  %head
    %script{:type => 'text/javascript', :src=> 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %title 401Change

%body
  #header
    %h1  
      Even if its small / 
      %br
      Please do something if you can / 
      %br
      We will change the world.
  #wrapper
    #content
      =yield




