%html
  %head
    %title 401Change

%body
  #header
    %h1 Facilitating positive change in the world
  #wrapper
    #actions
      %a{:href=>"/causes/add" } Share a Cause
    #content
      =yield




