%html
  %head
    %script{:type => 'text/javascript', :src=> 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %title 401Change

%body
  #header
    %h1 
      :markdown
      
        Even if it's small /  
        [Please do something if you can](/find_a_need) /  
        [We will change the world.](/)  
  #wrapper
    #content
      =yield




