%html
  %head
    %title Add a Change Agent to 401Change

#header
  %h1 Facilitating positive change in the world
#content
  %form{:method=>"post"}
    %ul
    %li
      %label{:for=>"name"} What is a short name for the cause?
      %input{:type=>"text",:name=>"name", :id=>"name"}
    %li
      %label{:for=>"purpose"} Its mission will be accomplished when?
      %input{:type=>"text",:name=>"purpose", :id=>"purpose"}
    %li
      %label &nbsp;
      %input{:type=>"submit", :value=>"Suggest Cause"}
