
%form
  %ul
    %li#description
      -if @page.has_error?(:description)
        %span{:class => 'error'}
      %label{:for=>"description"} What did you do to change the world?
      %br
      %textarea{:name=>"description"}
    %li
      %input{:type => 'submit', :value => 'Share Action'}
