%h3 These people did good /  Please stop sitting on your couch / and help someone out.  
    

%form{:class=>"form", :onsubmit=>"return filterNeeds()"}
  %label{:for=>"filterText"} Filter Actions:
  %input{:id=>"search", :type=>"text", :name=>"filterText", :id=>"filterText"}  
  %input{:class=>"submit", :type => 'submit', :value => 'filter', :id => "filterButton"}


%ul#actions
- @actions.each do |action|
  %li{:class=>"need"}
    #{action.description}

%script{:type => "text/javascript",:src  => "/js/need_filter.js"}
