-if @page.has_errors?
  #registration_failed
%form
  %ul{:id=>"name"}
    %li
      %label{:for=>"name"}Your Name:
      %input{:type=>"text", :name=>"name"}
    %li{:class => 'error'}
  %ul{:id=>"email"}
    %li{:for=>"email"}Email:
    %input{:type=>"text", :name=>"email"}
    %li{:class => 'error'}
    %li
      %input{:type => 'submit', :value => 'Complete Registration'}