-if @page.has_errors?
  #registration_failed
%form
  %ul
    %li{:id=>"name"}
      %label{:for=>"name"}Your Name:
      %input{:type=>"text", :name=>"name"}
      -if @page.has_error?(:name)
        %span{:class => 'error'}
    %li{:id=>"email"}
      %label{:for=>"email"}Email:
      %input{:type=>"text", :name=>"email"}
      %span{:class => 'error'}
    %li
      %input{:type => 'submit', :value => 'Complete Registration'}