%html
  %head
    %link{:rel=>"stylesheet", :href=>"/style/default.css", :type=>"text/css"}
    %script{:type => 'text/javascript', :src=> 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
    %title 401Change
  %body
    #container
      #header
      #nav
        %a{:id=>"logo-link", :href=>"/"}
          %img{:alt=>"401 change logo", :id=>"logo-image", :src=>"/images/401-logo.png"}
        %ul{:id=>"left-nav"}
          %li{:class=>"selected"}
            %a{:href=>"/"}Find a Need
          %li
            %a{:href=>"/share_a_need"}Share a Need
          %li
            %a{:href=>"/share_an_action"}Share an Action    
          %li
            %a{:href=>"/view_actions"}View Actions
      #main-content
        %p{:class => "label-head"}Even if it's small / Please do something if you can / We will change the world.  
        =yield
      

      




